.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background: var(--black-5);
  justify-content: space-between;
}

.sidebar {
  max-width: 376px;
  min-height: 100vh;
  width: 100%;
  background: var(--white-100);
  display: flex;
  flex-direction: column-reverse;
  row-gap: 8px;
  justify-content: center;
}

.questionnaire {
  width: 100%;
  padding: 122px 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 844px;
  margin: 0 80px;
}

.question {
  font-size: 32px;
  font-weight: 600;
  color: var(--black-100);
  margin-top: 11px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
}

.answer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.answer p {
  z-index: 1;
  font-weight: 400;
  color: var(--black-100);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translate(0, -50%);
}

.answer span {
  font-weight: 600;
  color: var(--orange-100);
  font-size: 20px;
}

.answer svg {
  stroke: var(--black-40);
  fill: var(--white-100);
}

.answer:hover svg{
  stroke: var(--orange-100);
}

.selected svg {
  animation: blink 1s linear infinite;
  
}

@keyframes blink {
  0% {
    fill: var(--orange-5);
    stroke: var(--orange-100);
  }

  50% {
    stroke: var(--black-40);
    fill: var(--white-100);
  }

  100% {
    fill: var(--orange-5);
    stroke: var(--orange-100);
  }
}

.correct svg {
  fill: var(--green-5);
  stroke: var(--green-100);
}

.correct:hover svg {
  fill: var(--green-5);
  stroke: var(--green-100);
}

.wrong svg {
  fill: var(--red-5);
  stroke: var(--red-100);
}

.wrong:hover svg {
  fill: var(--red-5);
  stroke: var(--red-100);
}

.prize {
  position: relative;
  display: flex;
}

.prize p {
  font-weight: 400;
  color: var(--black-100);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prize svg{
  stroke: var(--black-40);
}

.active svg {
  stroke: var(--orange-100);
}

.active p {
  color: var(--orange-100);
}

.finished p {
  color: var(--black-40);
}

.menu {
  display: none;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .linkButton:hover {
    background: var(--orange-80);
  }

  .linkButton:active {
    background: var(--orange-120);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .main {
    position: relative;
    min-height: auto;
  }

  .menu {
    top: 16px;
    right: 16px;
    display: block;
  }

  .questionnaire {
    padding: 64px 0 24px;
    margin: 0;
  }

  .question {
    font-size: 18px;
    text-align: center;
    margin: 0 16px;
  }

  .sidebar {
    position: absolute;
    z-index: 1;
    top: 0;
    transition: right 0.3s ease-in-out;
    
  }

  .sidebar[data-active='true'] {
    right: 0;
  }

  .sidebar[data-active='false'] {
    right: -100%;
  }

  .answers {
    grid-template-columns: 1fr;
    padding: 16px 0;
    row-gap: 16px;
  }
}


@media (min-width: 501px) and (max-width: 700px) {
  .main {
    position: relative;
  }

  .menu {
    top: 16px;
    right: 16px;
    display: block;
  }

  .question {
    font-size: 24px;
    text-align: center;
    margin: 0 16px;
  }

  .questionnaire {
    padding: 136px 0 24px;
    margin: 0;
  }

  .sidebar {
    position: absolute;
    z-index: 1;
    top: 0;
    transition: right 0.3s ease-in-out;
  }

  .sidebar[data-active='true'] {
    right: 0;
  }

  .sidebar[data-active='false'] {
    right: -100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    position: relative;
  }

  .menu {
    display: block;
    top: 24px;
    right: 24px;
  }

  .sidebar {
    position: absolute;
    z-index: 1;
    top: 0;
    transition: right 0.3s ease-in-out;
  }

  .sidebar[data-active='true'] {
    right: 0;
  }

  .sidebar[data-active='false'] {
    right: -50%;
  }
}
