.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 0 80px;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #FFFFFF 50%, #FFF3EB 50.3%);
}

.mainEnd {
  background: var(--black-5);
}

.column {
  display: flex;
  flex: 1 1;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  flex-direction: column;
}

.column h1 {
  font-weight: 600;
  font-size: 56px;
  color: var(--black-100);
}

.column p {
  font-weight: 600;
  font-size: 32px;
  color: var(--black-40);
  margin-bottom: 8px;
}

.linkButton {
  max-width: 296px;
  height: 64px;
  border-radius: 12px;
  background: var(--orange-100);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 64px;
  width: 100%;
}

.linkButton:active {
  background: var(--orange-120);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .linkButton:hover {
    background: var(--orange-80);
  }

  .linkButton:active {
    background: var(--orange-120);
  }
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    padding: 48px 8px;
    min-height: auto;
  }

  .column {
    justify-content: center;
    align-items: center;
  }

  .column h1 {
    font-size: 32px;
    text-align: center;
  }

  .column p {
    font-size: 18px;
  }
}

@media (min-width: 901px) and (max-width: 1120px) {
  .main {
    flex-direction: column;
    padding: 48px 16px;
  }

  .column {
    max-width: 640px;
    justify-content: center;
    align-items: center;
  }

  .column p {
    font-size: 24x;
  }

  .column h1 {
    font-size: 42px;
  }
}