.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 0 80px;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #FFFFFF 50%, #FFF3EB 50.3%);
}
